:root {
  /* colors-texts */
  --main-text: #303030;
  --secondary-text: #fbfbfb;
  --text-light-gray: #7d7d7d;
  --red-caption: #f97373;
  --text-black70: rgba(12, 11, 11, 0.7);
  /* colors-background */
  --main-bgcolor: #fbfbfb;
  --disabled-button: #f3f3f3;
  --secondary-bgcolor: #2e2e2e;
  --border: #797777;
  --bg-light-gray: #7d7d7d;
  --bg-gray: #F4F4F4;
  --accent-yellow: #fbbf24;
  --yellow-hover: #ffe08f;
  --yellow-pushed: #feb700;
}
